#mineCraftImage {
  height: 50%;
  width: 100%;
  float: left;
}

#startGame {
  background: #127212;
  border-radius: 5px;
  padding-left: 40px;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  font-size: 30px;
  font-family: sans-serif;
  margin-left: 700px;
  margin-top: 600px;
  position: absolute;
}
